:root {
  --red: hsl(0, 66%, 54%);
}

.error-message {
  visibility: hidden;
  color: var(--red);
}

.first-name-container.error .error-message {
  visibility: visible;
}

.first-name-container.error input {
  border-color: var(--red);
}

.last-name-container.error .error-message {
  visibility: visible;
}

.last-name-container.error input {
  border-color: var(--red);
}

.email-container.error .error-message {
  visibility: visible;
}

.email-container.error input {
  border-color: var(--red);
}

.query-type-container.error .error-message {
  visibility: visible;
}

.message-container.error .error-message {
  visibility: visible;
}

.message-container.error textarea {
  border-color: var(--red);
}

.checkbox-container.error .error-message {
  visibility: visible;
}
